* {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white !important;
}

.header {
    height: 96px;
}

.homepage-bg {
    background-image: url("/background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.h-full {
    height: 100vh;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .homepage-bg {
        background-image: url("/background-home-tablet.jpg");
    }
    nav {
        width: 83% !important;
    }
    nav li {
        padding-top: 2.2rem;
    }
}

@media screen and (min-width: 1200px) {
    .homepage-bg {
        background-image: url("/background-home-desktop.jpg");
    }
    nav {
        width: 50% !important;
    }
}

.pointer {
    cursor: pointer;
}

.menu,
nav {
    background: rgba(11, 13, 23, .15);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    width: 60%;
}

a {
    text-decoration: none !important;
}

ul {
    list-style-type: none;
}

.menu .active {
    border-right: 4px solid white;
}

nav .active {
    border-bottom: 4px solid white;
}

nav {
    background: rgba(255, 255, 255, 0.1);
}

nav li {
    font-size: 14px;
}

.line {
    height: 1px;
    background-color: #979797;
    z-index: 10;
    left: 10%;
    width: 41%;
}